* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Lato-regular;
    src: url("../fonts/Lato/Lato-Regular.ttf")
}

@font-face {
    font-family: Lato-bold;
    src: url("../fonts/Lato/Lato-Bold.ttf")
}

@font-face {
    font-family: Impact;
    src: url("../fonts/impact/impact.ttf")
}

body {
    background-color: #22252c;
    padding: 1rem;
    font-family: Lato-regular;
}

a {
    color: inherit;
    text-decoration: inherit;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

/* HEADER */

header {
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius: 37px;
    padding: 0.5rem;
    height: 3rem;
}

.logo-img {
    width: 150px;
}

.main-nav {
    width: 14rem;
    font-family: Lato-regular, sans-serif;
    font-size: 1.2rem;
    color: white;
}

.main-nav li {
    margin-left: 4rem;
    align-self: center;
    padding: 8px;
    border-radius: 20px;
    /* width: 100px; */
}

.main-layout {
    width: 1024px;
    margin: 0 auto;
}

.main-nav li:hover {
    color: #21ac91;
    padding: 0.1rem 0.5rem;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    background-color: #fefefe;
    transition: all 0.3s;
}

.header-content i {
    display: none;
}

.main-nav-mobile {
    display: none;
}

/* GALLERY */

.images-container {
    /* margin-top: 200rem; */
    /* max-width: 880px; */
    /* width: 80%; */
    padding: 0.5rem;
    gap: 15px 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    justify-content: center;
    /* align-content: center; */
}

.content-container {
    height: 85vh;
    /* overflow-x: hidden;
    overflow-y: auto; */
}

.edit-container {
    margin-top: 5rem;
}

.gallery-img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

/* canvas */

.canvas {
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
}

/* OPTIONS */

.options-container {
    padding: 0.5rem;
    width: 500px;
    height: 400px;
    background-color: hsla(217, 25%, 94%, 0.126);
    border-radius: 1.875rem;
}

.txt-input {
    margin-top: 1rem;
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
    height: 2.5rem;
    border-radius: 1rem;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
}

.top-btns {
    margin-top: 0.8rem;
    width: 50%;
}

.top-btn-img {
    width: 50px;
}

.text-edit-btns {
    margin-top: 0.8rem;
    padding: 15px;
    gap: 15px;
    width: 80%;
    background-color: #19a59f;
    border-radius: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "font-up font-down align-left align-center align-right" "font font font stroke color";
    justify-content: center;
    align-content: center;
}

.font-up {
    grid-area: font-up;
}

.font-up-txt {
    width: 34px;
    height: 23px;
    color: #22252c;
    font-family: Lato-bold;
    font-size: 32px;
}

.stroke-txt {
    font-family: Lato-bold;
    font-size: 1.2rem;
    text-decoration: underline;
}

.font-down {
    grid-area: font-down;
}

.align-left {
    grid-area: align-left;
}

.align-center-btn {
    grid-area: align-center;
}

.align-right {
    grid-area: align-right;
}

.font {
    grid-area: font;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.stroke {
    grid-area: stroke;
}

.color {
    grid-area: color;
    position: relative;
}

.color-input {
    visibility: hidden;
    position: fixed;
}

.download-img {
    width: 110px;
}

.share-img {
    width: 110px;
}

.share-download {
    width: 320px;
    margin-top: 1.2rem;
}

.save-btn {
    background-color: #fefefe;
    background-image: linear-gradient( 10deg, #2193b0 0%, #6dd5ed 100%);
    width: 80px;
    height: 26px;
    border: none;
    border-radius: 10px;
    color: white;
}

/* GALLERY NAV */

.gallery-nav {
    padding: 1rem;
}

.gallery-nav input {
    font-family: Lato-regular;
    width: 24rem;
    height: 3rem;
    border-radius: 29px;
    background-color: #22252c;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
}

.nav-filter-container {
    width: 27rem;
    height: 3rem;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #fefefe;
    opacity: 0.4;
    padding: 1rem;
    font-family: Lato-bold;
}

.gallery-nav button {
    color: white;
    width: 5.75rem;
    height: 2.25rem;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    background-color: #fefefe;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border: none;
}

.input-container {
    position: relative;
}

.search-img {
    width: 25px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%)
}

/* CONTENT*/

.content-container {
    margin-top: 2rem;
    /* text-align: justify; */
    height: 85%;
    background-color: #383b42;
    border-radius: 10px;
    /* overflow-x: hidden;
    overflow-y: auto; */
}

.gallery-container-main {
    margin-top: 2rem;
    background-color: #383b42;
    border-radius: 10px;
}

.gallery-container {
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 2.1rem;
}

.gallery-container::-webkit-scrollbar {
    width: 12px;
}

.gallery-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.gallery-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #22252c;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.content-container.edit-mode {
    padding: 0.5rem;
    height: 30rem;
}

.share-container {
    font-size: 1.5rem;
}

/* HELPERS */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.flex-end {
    justify-content: flex-end;
}

.clean-list {
    list-style: none;
    text-decoration: none;
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

/* @media (min-width: 900px) {
    .main-layout {
        width: 850px;
    }
    .options-container {
        width: 350px;
    }
}

@media (min-width: 1080px) {
    .main-layout {
        width: 1024px;
    }
    .options-container {
        width: 500px;
    }
    .gallery-img {
        width: 200px;
        height: 200px;
    }
    .images-container {
        gap: 10px 2rem;
        grid-template-columns: repeat(auto-fill, 200px);
    }
} */

@media (max-width: 1050px) {
    .main-layout {
        width: 920px;
    }
    .options-container {
        padding: 0.3rem;
        width: 400px;
        height: 400px;
        background-color: hsla(217, 25%, 94%, 0.126);
        border-radius: 1.875rem;
    }
    .top-btn-img {
        width: 45px;
    }
    .nav-filter-container {
        width: 21rem;
    }
    .gallery-nav input {
        width: 19.5rem;
    }
    .header-content i {
        display: none;
    }
}

@media (max-width: 940px) {
    .main-layout {
        width: 780px;
    }
    .content-container.edit-mode {
        /* height: 80vh; */
    }
    .edit-container {
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }
    .options-container {
        width: 375px;
        height: 375px;
    }
    .text-edit-btns {
        padding: 0.5rem;
        width: 70%;
    }
    .top-btn-img {
        width: 35px;
    }
    .canvas {
        width: 375px;
        height: 375px;
    }
    .nav-filter-container {
        width: 18rem;
        font-size: 0.875rem;
    }
    .gallery-nav input {
        width: 17.5rem;
    }
    .gallery-img {
        width: 175px;
        height: 175px;
    }
    .txt-input {
        width: 70%;
    }
    .share-download {
        width: 20rem;
    }
    .download-img {
        width: 100px;
    }
    .share-img {
        width: 100px;
    }
    .header-content i {
        display: none;
    }
}

@media (max-width: 780px) {
    .main-layout {
        width: 600px;
    }
    .edit-container {
        margin-top: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .options-container {
        margin-top: 1.5rem;
        width: 400px;
    }
    .nav-filter-container {
        width: 20rem;
        font-size: 0.875rem;
    }
    .gallery-nav {
        flex-direction: column;
        gap: 1rem;
    }
    .gallery-nav input {
        width: 20.5rem;
    }
    .gallery-img {
        width: 175px;
        height: 175px;
    }
    header {
        border-radius: 0;
    }
    body {
        padding: 0;
    }
    .main-nav {
        display: none;
    }
    .main-nav-mobile {
        /* display: block; */
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        min-width: 250px;
        background-color: rgb(41 41 41 / 97%);
        height: 100vh;
        box-shadow: 0px 0px 0px transparent;
        transform: translateX(100%);
        justify-content: flex-start;
        transition: transform .6s;
        z-index: 1;
        color: white;
    }
    .main-nav-mobile {
        /* width: 100%; */
        display: flex;
        align-items: center;
    }
    .main-nav-mobile li {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 1.2rem;
        margin-top: 5rem;
        border-bottom: 1px solid #292929;
    }
    .header-content i {
        display: inline-block;
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
    }
    .screen-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0 0 0 / 50%);
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: opacity .6s;
        z-index: 1;
    }
    body.menu-open .screen-menu {
        opacity: 1;
        pointer-events: auto;
    }
    body.menu-open .main-nav-mobile {
        transform: translateX(0);
        /* box-shadow: -8px 0px 20px rgb(0 0 0 / 30%); */
    }
}

@media (max-width: 620px) {
    body {
        padding: 0;
    }
    .logo-img {
        width: 90px;
    }
    .main-layout {
        width: 370px;
    }
    .nav-filter-container {
        width: 19rem;
        font-size: 0.875rem;
    }
    .gallery-nav input {
        width: 19rem;
    }
    .edit-container {
        margin-top: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .options-container {
        margin-top: 1rem;
        width: 350px;
    }
    .canvas {
        width: 350px;
        height: 300px;
    }
    .text-edit-btns {
        padding: 0.6rem;
        width: 80%;
    }
    .share-download {
        width: 19rem;
    }
    .download-img {
        width: 100px;
    }
    .share-img {
        width: 100px;
    }
    .txt-input {
        font-size: 1rem;
        height: 2rem;
    }
    .gallery-img {
        width: 140px;
        height: 140px;
    }
    .images-container {
        grid-template-columns: 1fr 1fr;
    }
    .gallery-container {
        padding-left: 1.5rem;
    }
    .font {
        font-size: 1.2rem;
    }
}